{% extends '_blank.html' %}

{% block customstyle %}
{{ block.super }}
<style>
  body { font-size: 0.875rem; }
  .h1, h1 { font-size: 1.25rem; }
</style>
{% endblock customstyle %}

{% block qux_content %}
{% comment %}
{% include 'newsfeed/_newsfeed_navbar.html' %}
{% endcomment %}

<section id="news">
  <div class="container-lg my-md-3">
    <h1 class="my-3 my-md-4">
    {% autoescape off %}
      {% if title %}
        {{ title }}
      {% elif object %}
          {% if object.title %}{{ object.title }}{% else %}Newsfeed{% endif %}
      {% endif %}
    {% endautoescape %}
    </h1>

    {% block news %}
    {% endblock %}
  </div>
</section>
{% endblock %}
